{% extends 'base.html' %}

{% block body %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Create">
    </form>
    <br>
    <h2>To-Do List:</h2>
    <table class="table table-success table-striped table-hover">
        <tr><th>To Do</th><th>Delete To Do</th></tr>
        {% for item in items %}
            <tr>
                <td style="width:90%">{{item.todo}}</td>
                <td  style="width:10%"><a href="{% url 'delete' item.id %}" class="btn btn-danger">Delete</a><td>
            </tr>
        {% endfor %}
    </table>
{% endblock body %}